/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
}

/* MAIN */
.main {
    width: 80vw;
    height: calc(100vh - 80px);
    margin: 40px auto;
    padding: 40px;
    border: 1px solid #000;
    border-radius: 10px;
}

/* CREATE */
.create {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.card-holder {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

/* CARD */
.card {
    display: flex;
    width: 25%;
    position: relative;
    height: fit-content;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
    flex-direction: column;

    .title {
        margin-bottom: 10px;
    }

    .description {
        margin-bottom: 10px;
    }

    .status {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #000;
    }
}

/* MODAL */
.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 400px;
    padding: 36px 20px 20px;
    background: white;
    border-radius: 10px;

    .content {
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    .close {
        position: absolute;
        cursor: pointer;
        right: 10px;
        top: 10px;
        width: 16px;
        height: 16px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
}

.modal-overlay {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, 0.3);
}

/* BTN-HOLDER */
.btn-holder {
    gap: 20px;
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
}

.btn {
    display: inline-flex;
    height: 20px;
    min-width: 60px;
    align-content: center;
    justify-content: center;
}

/* INPUT */
.input-text {
    height: 30px;
    padding: 5px 10px;
}

.row {
    display: flex;
    flex-direction: column;
}